@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
}

/** Icons and Buttons **/
img.previous-step{
    height: auto;
    widows: auto;
}

button.next-step{
    background: #8E966F;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 7px 27px;
}

/** NAV **/

nav{
    height: 80px;
    width:100%;
    background: #8E966F;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav .left{
    flex-grow: 1;
}

nav .right{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right:30px;
}

nav .right .menu, nav #name{
    display: none;
}

nav .right #more-option{
    display: block;
}

nav .left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height:100%;
    margin-right: calc(50vw - 54px);
    margin-left: 35px;
}

nav #logo{
    width: 38px;
    height: 38px;
    background: #EEB056;
    border-radius: 50%;

}

/** FOOTER **/
footer{
    position: relative;
    background: #DBD6CF;
    padding: 37px;
    font-size: 12px;
    color: #707070;
    line-height: 20px;

}

/** Home **/

section#home{
    
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    background: #C2BEA1;
}

section#home .right{
    display: none;
}

section#home .left{
    position: relative;
    width: 100%;
    padding-left: 37px;
    padding-right: 37px;


}
section#home .left div{
    
    font-weight: 100;
    font-size: 40px;
    text-align: left;
    color: white;
    margin-bottom: 60px;
    padding-top: 37px;
}

section#home input[type="text"]{
    height: 38px;
    background: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 20px;

}


section#home input[type="text"]::placeholder{
    color:#BFBFBF;

}

section#home .left{
    color: white;
    font-size: 14px;
}

section#home .left input[type="checkbox"]{
    margin-bottom: 27px;
}

section .left button{
    background: #8E966F;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

section .left button:hover{
    background: rgb(128, 136, 96);
    cursor: pointer
}

section .left button:active{
    background: #8E966F;
}

/** TEMPLATES **/

section#templates{
    width: 100%;
    padding: 0 37px;
    background: white;
}

section#templates #step-name{
    font-size: 30px;
    font-weight: 100;
    color: #707070;
    margin-top: 20px;
}

section#templates .steps{
    position: relative;
    margin-top: 27px;
    height: auto;
}

section#templates .next-step{
    float: right;
}

section#templates #template-list{

    margin-top: 33px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  

}

section#templates .template-selected{
    position: absolute;
    right: 10px;

}

section#templates .template-item{
    border: #8E966F 1px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    height: 120px;
    display: inline-block;
    position: relative;
     
    
}

section#templates .template-name{
    font-size: 18px;
    font-weight: 700;
    color: #6B6B6B;
    text-align: center;
    padding-top: 30px;
}

section#templates .template-price{
    font-size: 12px;
    color: #919191;
    text-align: center;
}

section#templates .template-details{
    display: none;
    
}

section#home,
/* section#templates, */
section#upload,
section#styles,
section#order,
section#complete,
section#categories,
section#products,
section#more-photos,
section#cart {
    display:none;
}