@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

* {
    box-sizing: border-box;
  }

body, ul{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    list-style: none;
    list-style-position: outside;
}

/** Global **/
img.previous-step{
    height: auto;
    widows: auto;
}

button.next-step{
    background: #8E966F;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 7px 27px;
}

#step-name{
    font-size: 30px;
    font-weight: 100;
    color: #707070;
    margin-top: 20px;
}

.steps{
    position: relative;
    margin-top: 27px;
    height: auto;
}

.next-step{
    float: right;
}

section{
    width: 100%;
    padding: 0 37px;
    background: white;
    padding-bottom: 100px;
}

section button.mainbutton{
    background: #8E966F;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

section button.mainbutton:hover{
    background: rgb(128, 136, 96);
    cursor: pointer
}

section button.mainbutton:active{
    background: #8E966F;
}

/** NAV **/

nav{
    height: 80px;
    width:100%;
    background: #8E966F;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav .left{
    flex-grow: 1;
}

nav .right{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right:30px;
}

nav .right .menu, nav #name{
    display: none;
}

nav .right #more-option{
    display: block;
}

nav .left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height:100%;
    margin-right: calc(50vw - 54px);
    margin-left: 35px;
}

nav #logo{
    width: 38px;
    height: 38px;
    background: #EEB056;
    border-radius: 50%;

}

/** FOOTER **/
footer{
    position: relative;
    background: #DBD6CF;
    padding: 37px;
    font-size: 12px;
    color: #707070;
    line-height: 20px;

}

/** Home **/

section#home{
    
    width: 100%;
    height: 100%;
    background: #C2BEA1;
}

section#home .right{
    display: none;
}

section#home .left{
    position: relative;
    width: 100%;


}
section#home .left div{
    
    font-weight: 100;
    font-size: 40px;
    text-align: left;
    color: white;
    margin-bottom: 60px;
    padding-top: 37px;
}

section#home input[type="text"]{
    height: 38px;
    background: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 20px;

}


section#home input[type="text"]::placeholder{
    color:#BFBFBF;

}

section#home .left{
    color: white;
    font-size: 14px;
}

section#home .left input[type="checkbox"]{
    margin-bottom: 27px;
}


/** TEMPLATES **/

section#templates #template-list{

    margin-top: 33px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  

}

section#templates .template-selected{
    position: absolute;
    right: 10px;

}

section#templates .template-item{
    border: #8E966F 1px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    height: 120px;
    display: inline-block;
    position: relative;
     
    
}

section#templates .template-name{
    font-size: 18px;
    font-weight: 700;
    color: #6B6B6B;
    text-align: center;
    padding-top: 30px;
}

section#templates .template-price{
    font-size: 12px;
    color: #919191;
    text-align: center;
}

section#templates .template-details{
    display: none;
    
}
section#upload #note{
    margin-top: 24px;
    font-size: 14px;
    color: #919191;
}

section#upload #add-files{
    height: 32px;
    margin-top: 40px;
}

section#upload #no-design{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #919191;
}

section#upload #uploaded-files{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-top: 40px;
}

section#upload #uploaded-files li{
    height: 120px;
    background: #919191;
    list-style: none;
    padding: 0;

}

/**PICK STYLES**/
section#styles .templates-list li{
    background:#C2BEA1;
    border-radius: 25px;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 8px 12px;
    width: auto;
    display: inline-block;
    margin-top: 40px;

}

section#styles .templates-list li img{
    float: right;
}

section#styles .templates-list li div{
    float: left;
}

section#styles .templates-list li.selected{
    background: #3F6E7E;
}

section#styles #add-template{
    font-size: 14px;
    color:#8E966F;
    margin-top: 30px;
}

section#styles #add-custom-options{
    font-size: 18px;
    font-weight: 700;
    color: #8E966F;
    margin-top: 30px;
}

section#styles .styles{
    margin-top: 30px;
}

section#styles .styles li{
    border-bottom: #DBD6CF 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

section#styles .styles .thumbnail{
    width: 75px;
    height: 75px;
    background: #C2BEA1;
    position: absolute;
}

section#styles .styles .info{
    position: relative;
    display: inline-block;
    left:100px;
    width: calc(100% - 100px);
 
    
    /* max-width: 200px; */
}

section#styles .styles .info .remove{
    position: absolute;
    top: 60px;
    right: 0px;
    font-size: 12px;
    color: #CFCFCF;
    float: right;
}

section#styles .styles .info .quantity{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
}

section#styles .styles .info .quantity .minus{
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;

}

section#styles .styles .info .quantity .quantity-name{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 5px;

   
}


section#styles .styles .info .quantity .add{
    position: absolute;
    right: 0px;
    fill: blueviolet;


}

section#styles .styles .info .cost{
    position: absolute;
    right: 0px;
    top: 30px;
}

section#styles .styles .info .brand,
section#styles .styles .info .style,
section#styles .styles .info .size,
section#styles .styles .info .color,
section#styles .styles .info .quantity,
section#styles .styles .info .cost{
    font-size: 12px;
    color: #919191;
}

section#styles .styles .info .brand,
section#styles .styles .info .style,
section#styles .styles .info .size,
section#styles .styles .info .color{
    padding-bottom: 5px;
}

section#styles .styles .info .brand{
    font-weight: 700;
}


section#home,
section#templates,
section#upload,
/* section#styles, */
section#styles #add-template-panel,
section#styles #add-custom-options-panel,
section#order,
section#complete,
section#categories,
section#products,
section#more-photos,
section#cart {
    display:none;
}